@mixin clip{
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  -moz-clip-path : polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

@mixin animationShadow{
  animation:shadow 0.5s linear infinite;
  -webkit-animation:shadow 0.5s linear infinite;
  -moz-animation: shadow 0.5s linear infinite;
}

@mixin animation{
  animation:animate 0.5s linear infinite;
  -webkit-animation: animate 0.5s linear infinite;
  -moz-animation: animate 0.5s linear infinite;
}
@mixin inputHeight{
  height: fit-content;
  height: -moz-fit-content;
}
