$font-family-global:Montserrat;

$font-black-color:black;
$font-white-color:white;
$global-font-color:#505050;
$background-color-light:#f2f2f2;
$background-red-color: #ff0000;
$footer-background-color:#646464;
$social-media-background-color:#C4C4C4;

$font-size-16:16px;
$font-size-14:14px;
$font-size-18:18px;
$font-size-22:22px;
$font-size-30:30px;
$font-size-35:35px;
$font-size-50:50px;
$font-size-20:20px;
$font-size-28:28px;
$font-size-70:70px;
